@model De_Gaverbeek.Models.tblPosts

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutOther.cshtml";
}



@using (Html.BeginForm("Create", "Main1", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="page">
        <br />
        <div class="ui horizontal divider customdivider">
            Nieuws toevoegen
        </div>
        <div class="container-fluid">
        <div class="ui secondary raised segment">
            @Html.AntiForgeryToken()

            <div class="container-fluid" style="padding:0;">
                <div class="ui form form-horizontal">

                    <div class="col-lg-14 col-md-14">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="field form-group">
                            @Html.LabelFor(model => model.PostTitel, htmlAttributes: new { @class = "control-label col-md-2", @style = "color:#000;" })
                            @Html.EditorFor(model => model.PostTitel, new { htmlAttributes = new { @class = "form-control ui input",@id="txtTitel" } })
                            @Html.ValidationMessageFor(model => model.PostTitel, "", new { @class = "text-danger" })
                        </div>

                        <div class="field form-group">
                            @Html.LabelFor(model => model.PostText, htmlAttributes: new { @class = "control-label col-md-2", @style = "color:#000;" })
                            @Html.EditorFor(model => model.PostText, new { htmlAttributes = new { @class = "form-control ui input",@id = "txtBeschrijving" } })
                            @Html.ValidationMessageFor(model => model.PostText, "", new { @class = "text-danger" })
                        </div>

                        <div class="field form-group">
                            <input type="file" class="ui input" name="txtAfbeelding" id="txtAfbeelding" />
                        </div>
                        <div class="field form-group">

                            <input type="submit" value="Aanmaken" class="ui button" />
                        </div>
                        <div>
                            @Html.ActionLink("Terug naar het overzicht", "Index")
                        </div>
                    </div>
                    <div class="col-lg-14 col-md-14" style="padding:0;">
                        <h3 style="text-align:left;font-size:2em;">Preview promotiebericht:</h3>
                        <br />
                        <div class="ui segments">
                            <div class="ui raised segment">
                                    <div class="ui items">
                                        <div class="item">
                                            <div id="divAfbeelding">
                                                <img class="ui postimage" src="~/Images/imgADD.png">
                                            </div>
                                            <div class="content postcontent">

                                                    <div class="header" id="divTitel">Arrowhead Valley Camp</div>
                                                    <div class="meta">
                                                        <span>@DateTime.Today.ToShortDateString()</span>
                                                    </div>
                                                    <div class="description" id="divBeschrijving">
                                                        <p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16e eeuw, toen een onbekende drukker</p>
                                                    </div>

                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        </div>
            }


