@model De_Gaverbeek.ViewModels.ProductenDetailsViewModel

@{

    string paddingLeft = "20px 20px 20px 15%";
    string paddingRight = "20px 15% 20px 20px";
    string mobile = "";
    if (Request.Browser.IsMobileDevice)
    {
        mobile = "one";
        paddingLeft = "20px";
        paddingRight = "20px";
    }
    else
    {
        mobile = "two";
    }

    ViewBag.Title = "Index";
    string[][] photos = ViewBag.photos;
    Layout = "~/Views/Shared/_LayoutOther.cshtml";
    int id = ViewBag.ID;

    string[] tabnames = {"Zuur","Zuivel","Vis","Kruiden","Deegwaren","Olie","Bakkerij","Beleg" };

}
<div class="page">
    <br />
    <div class="container-fluid">

        <div class="ui horizontal divider customdivider">
           Producten
        </div>
        <div class="ui grid">
            <div class="twelve wide stretched column">
                <div class="ui segment">
                    @for (var i = 0; i < 8; i++)
                    {
                        if (i + 1 == id)
                        {
                            <div class="ui tab active" data-tab="@tabnames[i]">

                                <h2>@tabnames[i]</h2>
                                @{

                                        int photospertab = photos[i].GetLength(0);
                                        int decrement = photospertab;
                                        int photoscount = 0;
                                        System.Diagnostics.Debug.WriteLine("photos:" + photos[i + 8].ToList());
                                    while (decrement - (photospertab % 2) > 0)
                                    {
                                        decrement = decrement - 2;
                                        <div class='ui @mobile column grid'>
                                            <div class='column' style='padding:@paddingLeft;'>
                                                <div class='ui fluid card'>
                                                    <div class='image'>
                                                        <img src=@photos[i][photoscount]>
                                                    </div>
                                                    <div class='content'>
                                                        <a  href=@photos[i+8][photoscount] target="_blank" class='header'>Bekijk leverancier</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='column' style='padding:@paddingRight;'>
                                                <div class='ui fluid card'>
                                                    <div class='image'>
                                                        <img src=@photos[i][photoscount + 1]>
                                                    </div>
                                                    <div class='content'>
                                                        <a href=@photos[i+8][photoscount] target="_blank" class='header'>Bekijk leverancier</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                            photoscount = photoscount + 2;
                                         


                                            }
                                            System.Diagnostics.Debug.WriteLine(photospertab + " " + decrement);
                                            if (photoscount == photospertab)
                                            {

                                            }
                                            else
                                            {
                                                System.Diagnostics.Debug.WriteLine("photoscount: " + photoscount);
                                        <div class='ui @mobile column grid'>
                                            <div class='column' style='padding:@paddingLeft;'>
                                                <div class='ui fluid card'>
                                                    <div class='image'>
                                                        <img src=@photos[i][photoscount]>
                                                    </div>
                                                    <div class='content'>
                                                        <a href=@photos[i+8][photoscount] target="_blank" class='header'>Bekijk leverancier</a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                           
                                    }



                                }

                            </div>
                        }
                        else
                        {
                                                       <div class="ui tab" data-tab="@tabnames[i]">

                                <h2>@tabnames[i]</h2>
                                @{

                                    int photospertab = photos[i].GetLength(0);
                                    int decrement = photospertab;
                                    int photoscount = 0;
                                    System.Diagnostics.Debug.WriteLine("photospertab: "+photospertab + " decrement: " + decrement);
                                    while (decrement - (photospertab % 2) > 0)
                                    {
                                        System.Diagnostics.Debug.WriteLine("photoscount: "+photoscount);
                                        decrement = decrement - 2;
                                        <div class='ui @mobile column grid'>
                                            <div class='column' style='padding:@paddingLeft;'>
                                                <div class='ui fluid card'>
                                                    <div class='image'>
                                                        <img src=@photos[i][photoscount]>
                                                    </div>
                                                    <div class='content'>
                                                        <a href=@photos[i+8][photoscount] target="_blank" class='header'>Bekijk leverancier</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='column' style='padding:@paddingRight;'>
                                                <div class='ui fluid card'>
                                                    <div class='image'>
                                                        <img src=@photos[i][photoscount + 1]>
                                                    </div>
                                                    <div class='content'>
                                                        <a href=@photos[i+8][photoscount] target="_blank" class='header'>Bekijk leverancier</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                            photoscount = photoscount + 2;
                                         


                                            }
                                            System.Diagnostics.Debug.WriteLine(photospertab + " " + decrement);
                                            if (photoscount == photospertab)
                                            {

                                            }
                                            else
                                            {
                                                System.Diagnostics.Debug.WriteLine("photoscount: " + photoscount);
                                        <div class='ui @mobile column grid'>
                                            <div class='column' style='padding:@paddingLeft;'>
                                                <div class='ui fluid card'>
                                                    <div class='image'>
                                                        <img src=@photos[i][photoscount]>
                                                    </div>
                                                    <div class='content'>
                                                        <a href=@photos[i+8][photoscount] target="_blank" class='header'>Bekijk leverancier</a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                           
                                    }



                                }

                            </div>

                        }
                    }
                   
                </div>
            </div>
            <div class="four wide column">
                <div class="ui vertical fluid right tabular menu">
                    @for (var i = 0; i < 8; i++)
                    {
                        if (i + 1 == id)
                        {
                            <a class="active item" data-tab="@tabnames[i]">
                                @tabnames[i]
                            </a>
                        }
                        else
                        {
                            <a class="item" data-tab="@tabnames[i]">
                                @tabnames[i]
                            </a>
                        }                     
                    }
                    
                </div>
            </div>
        </div>
    </div>
</div>
