@model De_Gaverbeek.ViewModels.ContactViewModel

<div class="page" id="pageContact">
        <br />
        <div class="ui horizontal divider customdivider">
            Contact
        </div>
    <div class="container contactform ui inverted segment">
        <div class="col-lg-14 col-md-14 zwart" id="zwart">
@using (Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <form class="ui form form-horizontal">

        <div class="field form-group">

            @Html.LabelFor(model => model.Naam, htmlAttributes: new { @class = "control-label col-md-2 displaynone" })
            @Html.ValidationMessageFor(model => model.Naam, "", new { @class = "ui left pointing red label block mbl" })
            @Html.EditorFor(model => model.Naam, new { htmlAttributes = new { @class = "form-control",@placeholder = "Naam" } })
           


        </div>
        <div class="field form-group">

            @Html.LabelFor(model => model.Emailadres, htmlAttributes: new { @class = "control-label col-md-2 displaynone" })
            @Html.ValidationMessageFor(model => model.Emailadres, "", new { @class = "ui left pointing red label block mbl" })
            @Html.EditorFor(model => model.Emailadres, new { htmlAttributes = new { @class = "form-control", @placeholder = "Emailadres" } })
           

        </div>
        <div class="field form-group">

            @Html.LabelFor(model => model.Onderwerp, htmlAttributes: new { @class = "control-label col-md-2 displaynone" })
            @Html.ValidationMessageFor(model => model.Onderwerp, "", new { @class = "ui left pointing red label block mbl" })
            @Html.EditorFor(model => model.Onderwerp, new { htmlAttributes = new { @class = "form-control", @placeholder = "Onderwerp" } })
           

        </div>

        <div class="field form-group">
            @Html.LabelFor(model => model.Bericht, htmlAttributes: new { @class = "control-label col-md-2 displaynone" })
            @Html.ValidationMessageFor(model => model.Bericht, "", new { @class = "ui left pointing red label block mbl" })
            @Html.EditorFor(model => model.Bericht, new { htmlAttributes = new { @class = "form-control", @rows = 10, @placeholder = "Bericht" } })
           
        </div>
        <div class="field form-group">

            <input type="submit" value="Verzend" class="ui inverted black button" />
        </div>
    </form>
}
        </div>
            <div class="col-lg-14 col-md-14 wit">
                <div class="iframe-rwd">
                <iframe id="wit" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2514.92702147944!2d3.668941815748662!3d50.92506697954365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c30d1d14d19fd1%3A0x869fa7bc6de7e77b!2sMolenstraat+88%2C+9890+Gavere!5e0!3m2!1snl!2sbe!4v1478374904923" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>