@model De_Gaverbeek.ViewModels.ProductenViewModel

<div class="page" id="pageProducten">
   
        <br />
        <div class="ui horizontal divider customdivider">
            Producten
        </div>
    
    <div class="container-fluid">

            <div class="carousel" style="text-align:center;margin-top:8%;">
                <a class="carousel-item" onclick="carouselinit(1,1)"><img class="ui circular image centeredimage" src='@Url.Content("~/Images/ProductenZuur.png")' /><div class="centeredtext"><span class="valign">Zuur</span></div></a>
                <a class="carousel-item" onclick="carouselinit(2,2)"><img class="ui circular image centeredimage" src='@Url.Content("~/Images/ProductenZuivel.png")' /><div class="centeredtext"><span class="valign">Zuivel</span></div></a>
                <a class="carousel-item" onclick="carouselinit(1,3)"><img class="ui circular image centeredimage" src='@Url.Content("~/Images/ProductenWijn.png")' /><div class="centeredtext"><span class="valign">Wijn</span></div></a>
                <a class="carousel-item" onclick="carouselinit(3,4)"><img class="ui circular image centeredimage" src='@Url.Content("~/Images/ProductenVis.png")' /><div class="centeredtext"><span class="valign">Vis</span></div></a>
                <a class="carousel-item" onclick="carouselinit(1,5)"><img class="ui circular image centeredimage" src='@Url.Content("~/Images/ProductenSuiker.png")' /><div class="centeredtext"><span class="valign">Suiker</span></div></a>
                <a class="carousel-item" onclick="carouselinit(4,6)"><img class="ui circular image centeredimage" src='@Url.Content("~/Images/ProductenKruiden.png")' /><div class="centeredtext"><span class="valign">Kruiden</span></div></a>
                <a class="carousel-item" onclick="carouselinit(5,7)"><img class="ui circular image centeredimage" src='@Url.Content("~/Images/ProductenDeegwaren.png")' /><div class="centeredtext"><span class="valign">Deegwaren</span></div></a>
                <a class="carousel-item" onclick="carouselinit(1,8)"><img class="ui circular image centeredimage" src='@Url.Content("~/Images/ProductenConserven.png")' /><div class="centeredtext"><span class="valign">Conserven</span></div></a>
                <a class="carousel-item" onclick="carouselinit(6,9)"><img class="ui circular image centeredimage" src='@Url.Content("~/Images/ProductenOlie.png")' /><div class="centeredtext"><span class="valign">Olie</span></div></a>
                <a class="carousel-item" onclick="carouselinit(7,10)"><img class="ui circular image centeredimage" src='@Url.Content("~/Images/ProductenBakeOff.png")' /><div class="centeredtext"><span class="valign">Bake Off</span></div></a>
                <a class="carousel-item" onclick="carouselinit(8,11)"><img class="ui circular image centeredimage" src='@Url.Content("~/Images/ProductenBeleg.png")' /><div class="centeredtext"><span class="valign">Beleg</span></div></a>
                <a class="carousel-item" onclick="carouselinit(1,12)"><img class="ui circular image centeredimage" src='@Url.Content("~/Images/ProductenNonFood.png")' /><div class="centeredtext"><span class="valign">Non Food</span></div></a>
            </div>
           </div>

</div>
<script type="text/javascript">
    function carouselinit(id, position)
    {
        var clickedcarouselitem = $(".carousel-item:nth-of-type(" + position + ")");
        console.log(clickedcarouselitem);
        if (clickedcarouselitem.attr('class') == "carousel-item active")
        {
            location.href = "/ProductenDetails?id=" + id //in your case, /employee/empl
        }
    }

</script>