@model De_Gaverbeek.ViewModels.ProductenViewModel

<div class="page" id="pageProducten">

        <br />
        <div class="ui horizontal divider customdivider">
            Producten
        </div>
    
    <div class="container-fluid">
        <div class="row producten">
            <div class="col-lg-4 col-md-4 col-sm-7 col-xs-14">
                <div class="ui special cards centered">

                        <div class="blurring dimmable image" onclick="location.href='@Url.Action("Index","ProductenDetails",new {id=1})'">
                            <div class="ui inverted dimmer">
                                <div class="content">
                                    <div class="center">
                                        <label class="labels">Zuur</label>
                                    </div>
                                </div>
                            </div>
                            <img class="ui circular image" src='@Url.Content("~/Images/ProductenZuur.png")' />
                        </div>
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-7 col-xs-14">
                <div class="ui special cards centered">

                    <div class="blurring dimmable image" onclick="location.href='@Url.Action("Index","ProductenDetails",new {id=2})'">
                        <div class="ui inverted dimmer">
                            <div class="content">
                                <div class="center">
                                    <label class="labels">Zuivel</label>
                                </div>
                            </div>
                        </div>

                        <img class="ui circular image" src='@Url.Content("~/Images/ProductenZuivel.png")' />

                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-7 col-xs-14">
                <div class="ui special cards centered">
                  
                    <div class="blurring dimmable image" onclick="location.href='@Url.Action("Index","ProductenDetails",new {id=3})'">
                        <div class="ui inverted dimmer">
                            <div class="content">
                                <div class="center">
                                    <label class="labels">Wijn</label>
                                </div>
                            </div>
                        </div>
                        <img class="ui circular image" src='@Url.Content("~/Images/ProductenWijn.png")' />
                    </div>
                   
</div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-7 col-xs-14 ">
                <div class="ui special cards centered">
                    <div class="blurring dimmable image" onclick="location.href='@Url.Action("Index","ProductenDetails",new {id=4})'">
                        <div class="ui inverted dimmer">
                            <div class="content">
                                <div class="center">
                                    <label class="labels">Vis</label>
                                </div>
                            </div>
                        </div>
                        <img class="ui circular image" src='@Url.Content("~/Images/ProductenVis.png")' />
                    </div>
                    
</div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-7 col-xs-14">
                <div class="ui special cards centered">
                    <div class="blurring dimmable image" onclick="location.href='@Url.Action("Index","ProductenDetails",new {id=5})'">
                        <div class="ui inverted dimmer">
                            <div class="content">
                                <div class="center">
                                    <label class="labels">Suiker</label>
                                </div>
                            </div>
                        </div>
                        <img class="ui circular image" src='@Url.Content("~/Images/ProductenSuiker.png")' />
                    </div>
                    
</div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-7 col-xs-14">
                <div class="ui special cards centered">
                    <div class="blurring dimmable image" onclick="location.href='@Url.Action("Index","ProductenDetails",new {id=6})'">
                        <div class="ui inverted dimmer">
                            <div class="content">
                                <div class="center">
                                    <label class="labels">Kruiden</label>
                                </div>
                            </div>
                        </div>
                        <img class="ui circular image" src='@Url.Content("~/Images/ProductenKruiden.png")' />
                    </div>
                    
</div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-7 col-xs-14">
                <div class="ui special cards centered">
                    <div class="blurring dimmable image" onclick="location.href='@Url.Action("Index","ProductenDetails",new {id=7})'">
                        <div class="ui inverted dimmer">
                            <div class="content">
                                <div class="center">
                                    <label class="labels">Deegwaren</label>
                                </div>
                            </div>
                        </div>
                        <img class="ui circular image" src='@Url.Content("~/Images/ProductenDeegwaren.png")' />
                    </div>
                    
</div>
            </div>
        

            <div class="col-lg-4 col-md-4 col-sm-7 col-xs-14">
                <div class="ui special cards centered">
                    <div class="blurring dimmable image" onclick="location.href='@Url.Action("Index","ProductenDetails",new {id=8})'">
                        <div class="ui inverted dimmer">
                            <div class="content">
                                <div class="center">
                                    <label class="labels">Conserven</label>
                                </div>
                            </div>
                        </div>
                        <img class="ui circular image" src='@Url.Content("~/Images/ProductenConserven.png")' />
                    </div>
                    
</div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-7 col-xs-14">
                <div class="ui special cards centered">
                    <div class="blurring dimmable image" onclick="location.href='@Url.Action("Index","ProductenDetails",new {id=9})'">
                        <div class="ui inverted dimmer">
                            <div class="content">
                                <div class="center">
                                    <label class="labels">Diepvries</label>
                                </div>
                            </div>
                        </div>
                        <img class="ui circular image" src='@Url.Content("~/Images/ProductenDiepvries.png")' />
                    </div>
                    
</div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-7 col-xs-14">
                <div class="ui special cards centered">
                    <div class="blurring dimmable image" onclick="location.href='@Url.Action("Index","ProductenDetails",new {id=10})'">
                        <div class="ui inverted dimmer">
                            <div class="content">
                                <div class="center">
                                    <label class="labels">Olie</label>
                                </div>
                            </div>
                        </div>
                        <img class="ui circular image" src='@Url.Content("~/Images/ProductenOlie.png")' />
                    </div>
                    
</div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-7 col-xs-14">
                <div class="ui special cards centered">
                    <div class="blurring dimmable image" onclick="location.href='@Url.Action("Index","ProductenDetails",new {id=11})'">
                        <div class="ui inverted dimmer">
                            <div class="content">
                                <div class="center">
                                    <label class="labels">Bake-off</label>
                                </div>
                            </div>
                        </div>
                        <img class="ui circular image" src='@Url.Content("~/Images/ProductenBakeOff.png")' />
                    </div>
                    

</div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-7 col-xs-14">
                <div class="ui special cards centered">
                    <div class="blurring dimmable image" onclick="location.href='@Url.Action("Index","ProductenDetails",new {id=12})'">
                        <div class="ui inverted dimmer">
                            <div class="content">
                                <div class="center">
                                    <label class="labels">Beleg</label>
                                </div>
                            </div>
                        </div>
                        <img class="ui circular image" src='@Url.Content("~/Images/ProductenBeleg.png")' />
                    </div>
                    
</div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-7 col-xs-14">
                <div class="ui special cards centered">
                    <div class="blurring dimmable image" onclick="location.href='@Url.Action("Index","ProductenDetails",new {id=13})'">
                        <div class="ui inverted dimmer">
                            <div class="content">
                                <div class="center">
                                    <label class="labels">Non-food</label>
                                </div>
                            </div>
                        </div>
                        <img class="ui circular image" src='@Url.Content("~/Images/ProductenNonFood.png")' />
                    </div>
                    
</div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-7 col-xs-14">
                <div class="ui special cards centered">
                    <div class="blurring dimmable image" onclick="location.href='@Url.Action("Index","ProductenDetails",new {id=14})'">
                        <div class="ui inverted dimmer">
                            <div class="content">
                                <div class="center">
                                    <label class="labels">Volledig gamma</label>
                                </div>
                            </div>
                        </div>
                        <img class="ui circular image" src='@Url.Content("~/Images/ProductenVolledigGamma.png")' />
                    </div>
                        
</div>
            </div>
        
    </div>
    </div>
</div>